In [79]:
import numpy as np
import pandas as pd

In [80]:
df = pd.read_csv("glass.csv")
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [82]:
# df.fillna({'education':df['education'].mode()[0]}, inplace = True)
# df.fillna({'cigsPerDay':df['cigsPerDay'].mean()}, inplace = True)
# df.fillna({'BPMeds':df['BPMeds'].mode()[0]}, inplace = True)
# df.fillna({'totChol':df['totChol'].mean()}, inplace = True)
# df.fillna({'BMI':df['BMI'].mean()}, inplace = True)
# df.fillna({'heartRate':df['heartRate'].mean()}, inplace = True)
# df.fillna({'glucose':df['glucose'].mean()}, inplace = True)

In [83]:
df.corr()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
RI,1.000000,-0.191885,-0.122274,-0.407326,-0.542052,-0.289833,0.810403,-0.000386,0.143010,-0.164237
Na,-0.191885,1.000000,-0.273732,0.156794,-0.069809,-0.266087,-0.275442,0.326603,-0.241346,0.502898
Mg,-0.122274,-0.273732,1.000000,-0.481799,-0.165927,0.005396,-0.443750,-0.492262,0.083060,-0.744993
Al,-0.407326,0.156794,-0.481799,1.000000,-0.005524,0.325958,-0.259592,0.479404,-0.074402,0.598829
Si,-0.542052,-0.069809,-0.165927,-0.005524,1.000000,-0.193331,-0.208732,-0.102151,-0.094201,0.151565
K,-0.289833,-0.266087,0.005396,0.325958,-0.193331,1.000000,-0.317836,-0.042618,-0.007719,-0.010054
Ca,0.810403,-0.275442,-0.443750,-0.259592,-0.208732,-0.317836,1.000000,-0.112841,0.124968,0.000952
Ba,-0.000386,0.326603,-0.492262,0.479404,-0.102151,-0.042618,-0.112841,1.000000,-0.058692,0.575161
Fe,0.143010,-0.241346,0.083060,-0.074402,-0.094201,-0.007719,0.124968,-0.058692,1.000000,-0.188278
Type,-0.164237,0.502898,-0.744993,0.598829,0.151565,-0.010054,0.000952,0.575161,-0.188278,1.000000

In [84]:
X = df.drop(['K','Ca','Type'], axis =1)
y = df['Type']

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,shuffle=True,random_state =12345, test_size=0.3)

In [86]:
def create_NB_model():
    from sklearn.naive_bayes import GaussianNB
    model = GaussianNB()
    model.fit(X_train,y_train)
    return model,'Naive Bayes'

In [87]:
def create_KNN_model():
    from sklearn.neighbors import KNeighborsClassifier
    model = KNeighborsClassifier(n_neighbors=5)
    model.fit(X_train,y_train)
    return model,'KNN'

In [95]:
def create_lr_model():
    from sklearn.linear_model import LogisticRegressionCV
    model = LogisticRegressionCV(max_iter=5000)
    model.fit(X_train,y_train)
    return model,'Logistic Regression'

In [96]:
def create_SVM_model():
    from sklearn.multiclass import OneVsRestClassifier 
    from sklearn.svm import SVC
    m = SVC(kernel='linear')
    model = OneVsRestClassifier(m)
    model.fit(X_train,y_train)
    return model,'SVM'

MODEL

In [97]:
models = [create_KNN_model(),create_lr_model(),create_NB_model(),create_SVM_model()]

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [98]:
def model_evaluation(model,name):
    from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,r2_score
    y_pred = model.predict(X_test)
    print(y_pred)
    accuracy = accuracy_score(y_test,y_pred)
    precision = precision_score(y_test,y_pred,average='micro')
    recall = recall_score(y_test,y_pred,average='micro')
    f1_score = f1_score(y_test,y_pred,average='micro')

    return name,accuracy,precision,recall,f1_score

In [99]:
evaluation_list = []
for (model,name) in models:
    evaluation_list.append(model_evaluation(model,name))

[2 7 1 1 1 1 1 1 1 2 1 7 1 2 2 2 7 1 6 1 2 1 2 6 2 6 2 1 1 2 1 2 1 1 1 1 1
 7 2 2 1 7 1 1 2 7 2 2 2 1 1 2 1 7 2 7 2 2 1 2 2 2 2 1 1]
[1 5 1 1 1 1 6 2 1 2 2 7 2 2 2 2 7 2 7 1 2 1 2 2 2 2 2 1 1 6 2 2 1 1 1 1 1
 5 1 2 2 7 2 1 2 7 7 5 2 1 2 2 1 7 2 5 2 2 1 2 2 1 2 1 1]
[3 6 6 6 3 3 3 2 3 6 3 7 3 3 3 6 7 3 6 3 3 6 2 6 2 2 6 6 6 6 6 3 6 6 6 6 6
 6 6 3 5 7 3 6 3 7 2 6 6 6 3 6 3 7 6 6 6 6 6 6 6 3 6 3 1]
[1 7 1 1 1 1 2 2 1 2 1 7 1 2 2 2 7 1 6 1 2 1 1 3 2 2 1 1 1 6 1 2 1 1 1 1 1
 7 1 2 3 7 2 1 2 7 3 5 2 1 1 1 1 7 5 7 2 1 1 2 2 1 1 1 1]

In [100]:
for i in y_test:
    print(i, end =" ")

1 6 2 3 3 1 2 1 1 2 1 7 1 3 1 2 7 1 2 2 2 1 2 6 5 2 2 1 3 6 2 2 1 2 1 1 1 5 7 1 7 7 1 3 2 7 7 5 2 1 1 2 1 7 7 5 2 2 1 3 2 2 2 1 3

In [101]:
result_df = pd.DataFrame(evaluation_list,columns=['Algorithm','Accuracy','Precision','Recall','F1_score'])
result_df

             Algorithm  Accuracy  Precision    Recall  F1_score
0                  KNN  0.584615   0.584615  0.584615  0.584615
1  Logistic Regression  0.584615   0.584615  0.584615  0.584615
2          Naive Bayes  0.184615   0.184615  0.184615  0.184615
3                  SVM  0.523077   0.523077  0.523077  0.523077